In [1]:
import pandas as pd

In [5]:
school_district_equity = pd.read_csv('data/school_districts_equity_ca.csv').drop(columns='Unnamed: 0')
school_district_equity.head()

,school_district,score,expenditures_for_public_elementary_and_secondary_schools_per_pupil,income_by_school_district
0,Abc Unified,8.12,"$12,189","$81,101"
1,Acalanes Union High,77.56,"$15,267","$129,146"
2,Acton-Agua Dulce Unified,32.54,"$14,318","$100,556"
3,Adelanto Elementary,30.62,"$12,993","$60,414"
4,Alameda Unified,32.25,"$13,436","$104,756"